{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工工资管理系统</title>

    <link rel="stylesheet" href="{% static 'wms/layui/css/layui.css' %}">
    <script type="text/javascript" src="{% static 'wms/layui/layui.js' %}"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'wms/js/common-pie-table.js' %}"></script>

</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
